
.navbarbo{
    box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.4);
    padding: 0 20px;
    border-radius: 15px;
    width: 95%;
    height: 10%;
    margin-left: 2.5%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.icoNo {
    color: black;
    display: flex;
    width: 65%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.h1 {
    font-weight: 700;
    /* Hace el texto muy negrita (valores van de 100 a 900) */
    color: #222;
    /* Color oscuro para más contraste */
}
