@import "tailwindcss";


:root {
  --color-beige: #DCCCBB;
  --color-menta: #90BAAD;
  --color-naranja: #d97706;
  --color-marron: #b45309;
  --color-degradado-inicio: var(--color-naranja);
  --color-degradado-fin: var(--color-marron);
  --color-crema: #fff7ed;
  --color-cafe: #92400e;
  --color-cafe-oscuro: #78350f;
  --color-blanco: #ffffff;
  --color-gris-claro: #f3f4f6;
  --color-gris-texto: #6b7280;

  --text-light: #ffffff;
  --hover-light: rgba(255, 255, 255, 0.1);
  --hover-active: rgba(255, 255, 255, 0.25);

  --navbar-bg: var(--color-gris-oscuro);
  --navbar-text: var(--color-cafe);
  --button-bg: var(--color-lavanda);
  --button-hover: var(--color-cafe);
}




